/*body {background-color: rgb(240, 255, 255);}*/
body{background-image: url(fondo.jpeg);}
#encabezado {position: sticky; top: 0;background-color: rgb(215, 248, 248);}
#encabezado{font-size: 65px;}
.parrafo-comun{color: black; background-color: rgb(215, 248, 248);}
#parrafo-especial{background-color:rgb(215, 248, 248);}
#parrafo-especial{width: 81%}
#logo{width: 500px;}
#icon {font-size: 40px;}
#encabezado {border: 2px solid rgb(215, 248, 248); border-radius: 12px; padding: 5px;}