
body{background-image: url(fondo.jpeg);}
#encabezado {top: 0;background-color: rgb(215, 248, 248);}
#encabezado{font-size: 400%;}
#encabezado{ font-family: 'Moirai One', cursive;}
.parrafo-comun{color: black; background-color: rgb(215, 248, 248);font-size: 130%;}
#parrafo-especial{background-color:rgb(215, 248, 248);}
#parrafo-especial{width: 90%}
#logo{width: 50%;}
#icon {font-size: 70%;}
#encabezado {border: 2px solid rgb(215, 248, 248); border-radius: 12px; padding: 5px;}
#foto{width: 100%;}
a:visited {color: black;}
a:hover {color: blue;}
a:active {color: rgb(115, 223, 115);}
::selection {color: white; background: rgb(70, 196, 254)}
.ct:hover{background:rgba(57, 129, 13, 0.346);}
.cr:hover{background:rgb(255, 115, 115);}
.cj:hover{background:rgb(136, 156, 233);}
.cf:hover{background:rgb(208, 68, 255);}
.cm:hover{background:rgb(26, 26, 26);}
.cc:hover{background:rgb(172, 197, 5);}

.fondo{background-color: rgb(209, 240, 243);padding: 2%;}