body{background-image: url(fondo.jpeg);}
#encabezado {position: sticky; top: 0;background-color: rgb(215, 248, 248);}
#encabezado{font-size: 400%;}
#encabezado{ font-family: 'Moirai One', cursive;}
.btn{ background-color: rgb(123, 209, 248); border: none; color: white; padding: 17px 22px; text-align: center; text-decoration: none; display: inline-block; font-size: 20px; margin: 4px 2px; cursor: pointer;}
#p{background-color: rgb(215, 248, 248);}
#foto0{width: 50%; ;}
#foto1{width: 80%;}
#foto2 {width: 90%;}
div.gallery1 img {width: 100%;height: auto;}
div.desc1 {padding: 15px;text-align: center; ;}
.responsive {padding: 0 6px;float: left; width: 24.99999%;} 
.clearfix:after {content: "";display: table;clear: both;}

div.gallery {margin: 5px;border: 1px solid #ccc;float: left;width: 180px;}
div.gallery:hover {border: 1px solid #777;}
div.gallery img {width: 100%;height: auto;}
div.desc {padding: 3px;text-align: center;}

.b {border-radius: 12px; font-size: 80%;}