body{background-image: url(fondo.jpeg);}
#encabezado {position: sticky; top: 0;background-color: rgb(215, 248, 248);}
#encabezado{font-size: 400%;}
#encabezado{ font-family: 'Moirai One', cursive;}
#p{background-color: rgb(215, 248, 248);}
#foto0{width: 50%; ;}
#foto1{width: 80%;}
#foto2 {width: 90%;}
div.gallery img {width: 100%;height: auto;}
div.desc {padding: 15px;text-align: center; ;}
.responsive {padding: 0 6px;float: left; width: 24.99999%;} 
.clearfix:after {content: "";display: table;clear: both;}